:root{
	--bg: white;
	--main: black;
}
html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #181818;
		font-family: 'Didact Gothic', sans-serif;
		font-size: 12pt;
		font-weight: 200;
		color: white;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #ee0000;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1200px;
	}
	
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}
	
	ul.actions
	{
	}
	
	ul.actions li
	{
		display: inline-block;
		padding: 0em 0.50em;
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: var(--bg);
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: var(--bg);
	}
	
	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 1em 2em 1em 2em;
		letter-spacing: 0.10em;
		margin-top: 2em;
		padding: 1.40em 3em;
		background: #2651a8;
		border-radius: 6px;
		text-decoration: none;
		font-weight: 700;
		font-size: 1em;
		color: #FFF;
	}
	
	.button-alt
	{
		padding: 1em 2em;
		border-color: rgba(0,0,0,.8);
		color: #FFF;
	}
		
/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

	.box1,
	.box2,
	.box3,
	.box4
	{
		width: 235px;
	}
	
	.box1,
	.box2,
	.box3,
	{
		float: left;
		margin-right: 20px;
	}
	
	.box4
	{
		float: right;
	}
	
/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.boxA,
	.boxB,
	.boxC
	{
		width: 384px;
	}

	.boxA,
	.boxB
	{
		float: left;
		margin-right: 20px;
	}
	
	.boxC
	{
		float: right;
	}

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

	.tbox1,
	.tbox2
	{
		width: 575px;
	}
	
	.tbox1
	{
		float: left;
	}

	.tbox2
	{
		float: right;
	}

	
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2.7em;
	}
	
	.title .byline
	{
		font-size: 1.3em;
		color: rgba(255,255,255,0.60);
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#wrapper
	{
		position: relative;
		padding: 5em 0em 7em 0em;
		background: var(--bg);
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		position: relative;
		padding: 5em 0em 7em 0em;
		background: #111111 url(images/header-bg.jpg) no-repeat center;
		background-size: cover;
	}

	#header
	{
		position: relative;
		padding: 5em 0em;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 3.6em;
		left: 0;
	}
	
	#logo h1
	{
		font-size: 2.6em;
		color: #79C255;
	}
	
	#logo a
	{
		text-decoration: none;
		color: rgba(255,255,255,1);
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		top: 4.5em;
		right: 0;
	}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		padding: 1em 1.5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		color: rgba(255,255,255,0.80);
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}
	
	#menu .active a
	{
		background: #2651a8;
		border-radius: 6px;
		color: rgba(255,255,255,1);
	}
	
	#menu .icon
	{
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding-top: 10em;
		text-align: center;
	}
	
	#banner .title h2
	{
		font-size: 4em;
	}
	
	#banner .title .byline
	{
		font-size: 2em;
	}
	
	#banner .button
	{
		margin-top: 2em;
		padding: 1.40em 3em;
		border-radius: 6px;
		font-weight: 700;
		font-size: 1em;
		
	}
	
	.banner
	{
		margin-bottom: 5em;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(0,0,0,0.08);
	}
	
	#copyright p
	{
		text-align: center;
		font-size: 1em;
		color: rgba(255,255,255,0.3);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.6);
	}


/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

	#welcome
	{
		position: relative;
		padding: 7em 0em 7em 0em;
		background: #2651a8;
		background-size: cover;
		text-align: center;
	}
	
	#welcome .container
	{
		width: 1000px;
		padding: 0px 100px;
		color: rgba(255,255,255,0.8);
	}
	
	#welcome a
	{
		color: rgba(255,255,255,1);
	}
	
	#welcome .button
	{
		background: var(--bg);
		color: #2651a8;
	}


/*********************************************************************************/
/* Extra                                                                         */
/*********************************************************************************/

	#three-column
	{
		text-align: center;
		color: var(--main);
	}

	#three-column .fa
	{
		display: block;
		padding: 1em 0em;
		color: var(--main);
		font-size: 2em;
	}
	
	#three-column .title h2
	{
		font-weight: bold;
		color: var(--main);
	}

	#three-column .title .byline
	{
		text-align: center;
		color: var(--main);
	}
	/*********************************************************************************/
	/*cookiestuff */
	/*********************************************************************************/

	#cookieBanner{
		background-color: var(--bg);
		padding: 10px 35% 10px 35%;
		width: 100%;
		height: 100px;
		position: fixed;
		top: 0;
		color: var(--main);
		font-size: large;
		box-shadow: 0px 5px 10px var(--main);
		display: none;
	}
	#cookieBanner button {
		background: #2651a8;
		border-radius: 6px;
		border: none;
		margin: 10px;
		color: white;
		padding: 10px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 14px;
	}
	#dark{
		background-color: #111111;
		border-radius: 6px;
	border: none;
		margin: 10px;
		color: white;
		padding: 10px 20px;
		position: absolute;
		top: 10px;
		right: 10px;
	}
	#light{
		background-color: white;
		border-radius: 6px;
	border: none;
		margin: 10px;
		color: white;
		padding: 10px 20px;
		position: absolute;
		top: 10px;
		right: 10px;
		display: none;
	}
	/****** corona popup ***/
#coronaPopup{
	display: none;
}
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:700|Open+Sans:400,600&display=swap');

/* transparent fullscreen background */
.my-popup-background-layer {
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	background: rgba(0, 0, 0, 0.8);
	font-size: 100%;
	color: #000;
	font-family: 'Conv_ARMOUR_W_Rg', 'Open Sans', sans-serif;
	font-size: 12px;
	z-index: 9999;
}

/* master popup div container */
.my-popup-container {
	position: fixed;
	left: 50%;
	margin-left: -475px;
	top: 50%;
	margin-top: -210px;
	width: 950px;
	height: 420px;
	background-color: #ffffff;
	padding: 34px 30px 0 485px;
	text-align: center;
	border-radius: 0px;
	box-sizing: border-box;
}
.mlctr-image {
	position: absolute;
	left: 23px;
	top: 23px;
	width: 435px;
	height: 373px;
	background: url(images/corona.png) center top no-repeat;
	padding: 0;
	border-radius: 0px;
}
.mlctr-close {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 15px;
	right: 15px;
	background: url(https://cli.mlctr.com/cli001/underarmour/close.png) left top no-repeat;
	opacity: 0.5;
	cursor: pointer;
	-webkit-transition: -webkit-transform 0.5s, background-size 0.5s, opacity ease-in-out .25s;
	-moz-transition: -moz-transform 0.5s, background-size 0.5s, opacity ease-in-out .25s;
	-o-transition: -o-transform 0.5s, background-size 0.5s, opacity ease-in-out .25s;
	transition: transform 0.5s, background-size 0.5s, opacity ease-in-out .25s;
}
.mlctr-close:hover {
	opacity: 1;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.my-popup-container h1 {
	width: 100%;
	font-family: 'Conv_ARMOURCd_W_Md', 'Barlow Condensed', sans-serif;
	font-size: 78px;
	font-weight: 700;
	padding: 6px 0;
	margin: 0;
}
.my-popup-container h2 {
	width: 100%;
	font-size: 28px;
	font-weight: 600;
	padding: 0;
	margin: 0;
}
.my-popup-container h3 {
	width: 100%;
	font-size: 14px;
	font-weight: 600;
	padding: 70px 0 40px;
	margin: 0;
}
.my-popup-container form a{
	font-weight: bold;
	color: #9c9c9b;
}
.mlctr-message-error {
	width: 100%;
	height: 18px;
	font-size: 12px;
	margin: 3px 0;
	font-weight: bold;
	text-align: center;
	color: #e51b24;
}
.mlctr-verification-alert {
	display: none;
}
.mlctr-verification-alert.display {
	display: block;
}

.mlctr-radio input[type=radio] {
	position: absolute;
	width: 0;
	height: 0;
	visibility: hidden;
}

.mlctr-radio {
	position: relative;
	padding: 0 40px 0 5px;
	font-size: 14px;
	display: inline-block;
}

.mlctr-radio label:before {
	width: 10px;
	height: 10px;
	background: #ffffff;
	border: 1px solid #000;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	cursor: pointer;
	position: absolute;
	content: '';
	left: -18px;
	top: 5px;
}

.mlctr-radio label:after {
	position: absolute;
	background: #e51b24;
	content: '';
	width: 6px;
	height: 6px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: -15px;
	top: 8px;
	opacity: 0;
}

.mlctr-radio label:hover::after {
	opacity: 0.4;
}

.mlctr-radio input[type=radio]:checked + label:after {
	opacity: 1;
}

.mlctr-radio input[type=radio].mlctr-input-zena:checked ~ .mlctr-image {
	background-position: right top;
}

.mlctr-radio label {
	position: relative;
	width: 110px;
	height: 14px;
	left: 15px;
	top: 0px;
}

.my-popup-container input[type="text"] {
	width: 275px;
	height: 60px;
	font-size: 16px;
	padding: 5px 15px 5px 20px;
	background-color: #ffffff;
	border: 3px solid #000000;
	color: #313131;
	margin: 0px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	box-sizing: border-box;
	-webkit-transition: border ease-in-out .15s;
	-moz-transition: border ease-in-out .15s;
	transition: border ease-in-out .15s;
	box-sizing: border-box;
}
.my-popup-container input[type="text"]:focus {
	border-color: #e51b24;
	outline: 0;
}
.my-popup-container input[type="submit"] {
	width: 140px;
	height: 60px;
	font-size: 14px;
	padding: 0;
	margin: 0 0 0 -6px;
	border: 0px;
	background-color: #000000;
	color: #ffffff;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-transition: background-color ease-in-out .15s;
	-moz-transition: background-color ease-in-out .15s;
	transition: background-color ease-in-out .15s;
	cursor: pointer;
	box-shadow: inset 0px 0px 2px RGBA(255,255,255,0.25);
	box-sizing: border-box;
	outline: 0;
}
.my-popup-container input[type="submit"]:hover {
	font-size: 14.5px;
	background-color: #e51b24;
}
.my-popup-container input[type="submit"]:active {
	font-size: 13.5px;
	-webkit-box-shadow: inset 1px 2px 5px rgba(0,0,0,0.30);
	-moz-box-shadow: inset 1px 2px 5px rgba(0,0,0,0.30);
	box-shadow: inset 1px 2px 5px rgba(0,0,0,0.30);
	outline: 0;
}
.mlctr-privacy {
	display: block;
	font-weight: 600;
	padding: 20px 0 0 0;
	background: none;
	margin: 0;
}
.my-popup-container input[type="button"] {
	width: 160px;
	height: 60px;
	font-size: 14px;
	padding: 0;
	border: 0px;
	background-color: #000000;
	color: #ffffff;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-transition: background-color ease-in-out .15s;
	-moz-transition: background-color ease-in-out .15s;
	transition: background-color ease-in-out .15s;
	cursor: pointer;
	box-sizing: border-box;
	outline: 0;
}
.my-popup-container input[type="button"]:hover {
	font-size: 14.5px;
	background-color: #e51b24;
}
.my-popup-container input[type="button"]:active {
	font-size: 13.5px;
	-webkit-box-shadow: inset 1px 2px 5px rgba(0,0,0,0.30);
	-moz-box-shadow: inset 1px 2px 5px rgba(0,0,0,0.30);
	box-shadow: inset 1px 2px 5px rgba(0,0,0,0.30);
	outline: 0;
}
.title h2 span{
	opacity: 0;
	transition: all 1s ease;
	transform: translateY(50px);
	display: inline-block;
}
.title h2 span.fade{
	opacity: 1;
	transform: translateY(0px);

}



.animText{
	opacity: 0;
	transform: translateY(20px);
	transition: 0.6s all ease-in-out;
}
.animActive {
	opacity: 1;
	transform: translateY(0px);
}
